body {
  background-color: #9fa8a3;

}

.container {
  width: 500px;
  height: 190px;
  margin: 0 auto;
}

.quote-window {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 50px;
  background-color: #e3e0cf;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 600;
  font-size: 22px;
}

.quote-text {
  flex-grow: 1;
}

button {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  background: #b7db70;
  border: none;
}
